.btn{
    @apply font-bold py-2 px-4 rounded;
}

.btn-block{
    @apply block text-center w-full;
}

.btn-primary{
    @apply p-2 pl-5 pr-5 transition-colors duration-700 transform bg-indigo-500 hover:bg-blue-400 text-gray-100 text-lg rounded-lg focus:border-4 border-indigo-300;
    
}

.btn-blue:hover{
    @apply bg-blue-700;
}

.btn-danger{
    @apply bg-red-500 text-white;
}

.btn-danger2{
    @apply p-2 pl-5 pr-5 transition-colors duration-700 transform bg-red-500 hover:bg-red-400 text-gray-100 text-lg rounded-lg focus:border-4 border-red-300;
}

.btn-continue{
    @apply p-2 pl-5 pr-5 transition-colors duration-700 transform bg-green-500 hover:bg-green-400 text-gray-100 text-lg rounded-lg focus:border-4 border-green-300;
}

.btn-blue:hover{
    @apply bg-blue-700;
}